<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BookVC</key>
	<dict>
		<key>level2BtnColor</key>
		<string>#ed8831</string>
	</dict>
	<key>UserProfile</key>
	<dict>
		<key>cameraIconTintColor</key>
		<string>#000</string>
	</dict>
	<key>WordHistory</key>
	<dict>
		<key>segTextColor</key>
		<string>#000</string>
		<key>segCtrlTintColor</key>
		<string>#eeeeef</string>
	</dict>
	<key>StatView</key>
	<dict>
		<key>segmentedCtrlSelectedTintColor</key>
		<string>#FF7216</string>
		<key>panelBgColor</key>
		<string>#FFF</string>
		<key>displayTextColor</key>
		<string>#212121</string>
		<key>segmentedCtrlUnselectedColor</key>
		<string>#000</string>
	</dict>
	<key>MainPanel</key>
	<dict>
		<key>dimAlpha</key>
		<integer>0</integer>
	</dict>
	<key>TableView</key>
	<dict>
		<key>descriptionTextColor</key>
		<string>#a0a0a0</string>
		<key>separatorColor</key>
		<string>#d3d3d3</string>
		<key>sectionBgColor</key>
		<string>#d3d3d3</string>
		<key>switchOffTextColor</key>
		<string>#6c6c6c</string>
		<key>switchOnTextColor</key>
		<string>#a80000</string>
		<key>labelTextColor</key>
		<string>#000</string>
		<key>valueTextColor</key>
		<string>#555555</string>
	</dict>
	<key>Global</key>
	<dict>
		<key>blurEffectStyle</key>
		<string>light</string>
		<key>viewBackgroundColor</key>
		<string>#f3f3f3</string>
		<key>backBtnTintColor</key>
		<string>#A9A9A9</string>
		<key>barTitleColor</key>
		<string>#000</string>
		<key>btnTintColor</key>
		<string>#FFF</string>
		<key>btnTitleColor</key>
		<string>#FFF</string>
		<key>textColor</key>
		<string>#FFF</string>
	</dict>
</dict>
</plist>
